<% if editor.manager? -%>
<% unless @pending_pages.blank? -%>
  <h3>Pages Pending Appoval</h3>
<ul class="admin-list">
<% @pending_pages.each do |page_listing| -%>
  <li>
    <%= status_icon(page_listing) %>
    <%= link_to (h page_listing.title), sandstone_url(:path => page_listing.path) %>
    <span class="url">http://qvisory.org/<%= h page_listing.path %></span>

    <span class="actions">
      <%= editor_link_to page_listing, 'edit', edit_page_path(page_listing) %> |
      <%= manager_link_to 'delete', page_listing, :confirm => 'Are you sure?', :method => :delete %>
    </span>
  </li>
<% end -%>
<% else -%>
<p>There are no pages currently pending approval</p>
<% end -%>
</ul>
<% end -%>

<h3>My Pages</h3>
<ul class="admin-list">
<% @pages.each do |page_listing| -%>
  <li>
    <%= status_icon(page_listing) %>
    <%= link_to (h page_listing.title), sandstone_url(:path => page_listing.path) %>
    <span class="url">http://qvisory.org/<%= h page_listing.path %></span>

    <span class="actions">
      <%= link_to 'create a child page', new_page_path(:parent_id => page_listing.id) %> |
      <%= editor_link_to page_listing, 'edit', edit_page_path(page_listing) %> |
      <%= manager_link_to 'delete', page_listing, :confirm => 'Are you sure?', :method => :delete %>
    </span>
  </li>
<% end -%>
</ul>

