<li>
  <%= status_icon(page_listing) %>
  <%= link_to (h page_listing.title), sandstone_url(:path => page_listing.path) %>
  <span class="url">http://<%= request.host %>/<%= h page_listing.path %></span>
  
  <span class="actions">
    <%= link_to 'create a child page', new_page_path(:parent_id => page_listing.id) %> |
    <%= editor_link_to page_listing, 'edit', edit_page_path(page_listing) %> |
    <%= manager_link_to 'delete', page_listing, :confirm => 'Are you sure?', :method => :delete %>
  </span>
  
  <%= content_tag :ul, (render :partial => 'pages/page_listing', :collection => page_listing.children), :class => 'subpage-list' unless page_listing.children.empty? %>
</li>
